body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav {
    position: fixed !important;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #eee;
    top: 0;
}
nav input {
    border: 0;
}
.content > table {
    margin-top: 50px;
}
.cell {
    min-width: 100px;
    height: 27px;
    border: 1px solid #eaeaea;
    position: relative;
}
.display-value {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
.cell > input {
    border: 0px;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    position: absolute;
    top: 0;
}
th {
    height: 27px;
    background-color: #F2F2F2;
    border: 1px solid #DFDFDF !important;
    text-align: center !important;
}
.column-resize {
    right: -4px;
    height: 30px;
    width: 6px;
    cursor: col-resize;
    position: absolute;
    margin-top: -26px;
    z-index: 2;
}
.cell:first-child, th:first-child {
    max-width: 40px;
    width: 40px !important;
    min-width: 40px !important;
    background-color: #F2F2F2;
}
.backlight {
    outline: 0.1px solid red !important;
    z-index: 2;
}
.d-none {
    display: none !important;
    transform: translate(9999px);
    transition: .1s;
    opacity: 0; 
}